<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom styles -->
        <link rel="stylesheet" href='/styles/custom.css'>
        <!-- Custom functions -->
        <script type="text/javascript" src="/js/utils/common.js"> </script>
        <script type="text/javascript" src="/js/apis/account.js"> </script>
        <script type="text/javascript" src="/js/renders/account.js"> </script>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <span
                 data-toggle="modal"
                data-target="#infoModal"
                class="info"
            >
                <i class="fa fa-question-circle">
                </i>
                Page info
            </span>
            <button data-toggle="tooltip" data-placement="bottom" title="Logout" data-original-title="Logout" class="navbar-toggler" type="button" onclick="logout()">
                <i class="fa fa-sign-out customBlue" style="cursor:pointer">
                </i>
            </button>
        </nav> 
        <div class="container-color d-flex w-100 h-100 mx-auto flex-column">
            <main role="main" class="container">
                <div id="loading-spinner" class="spinner-border pageLoader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div id='account-container' class='card container'>
                    <!-- Content will be populated here -->
                </div>
            </main>
        </div>
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"> How does it work? </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p> In this page we are querying the
                            <a href="https://docs.fastspring.com/integrating-with-fastspring/fastspring-api/accounts" target="_blank"> /accounts </a> endpoint to display buyer's information.  </p>
                            <p> In order for buyers to update their payment method they need to visit the
                            <a href="https://docs.fastspring.com/customer-facing-account-management" target="_blank"> Account Management Portal </a>.
                            You can obtain a temporary
                            <a href="https://docs.fastspring.com/integrating-with-fastspring/fastspring-api/accounts#id-/accounts-GetauthenticatedaccountmanagementURL" target="_blank"> authenticated link </a>  to the buyer's account in the portal through the API.
                            </p>
                            <p>
                            Among the account data returned by the API there is an array of orderIds which we will use to query the
                            <a href="https://docs.fastspring.com/integrating-with-fastspring/fastspring-api/orders"> /orders </a> endpoint to show a
                            one-liner description of each of them.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"> Got it! </button>
                        </div>
                    </div>
                </div>
        </div>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                $('#loading-spinner').show();
                // Populate content
                const url = new URL(window.location.href); 
                const accountId = url.pathname.split("/")[2];
                // Get account details and render it
                const token = getToken();
                $.post(`${window.location.origin}/getAccountDetails`, { token, accountId })
                    .done((resAccount) => {
                        if (resAccount && JSON.parse(resAccount).success) {
                            const parsedData = JSON.parse(resAccount);
                            const accountElement = renderAccountDetails(parsedData.account);
                            const ordersElement = parsedData.orders.length > 0 ?
                                renderOrdersTable(parsedData.orders)
                                :
                                renderNoOrders(parsedData.orders);
                            ;
                            $('#loading-spinner').hide();
                            $('#account-container').append([accountElement, ordersElement]);
                        } else {
                            forceLogout(JSON.parse(resAccount).error);
                        }
                    })
                    .fail(() => {
                        forceLogout('An unexpected server error occurred, please login again.');
                    });
            });
        </script>
        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>



