<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        </head>

    <body>
        <div class="container-color d-flex w-100 h-100 mx-auto flex-column">
            <header class="masthead mb-auto custom-nav">
                <div class="container">
                    <img class='brand-image' src='/images/photoioheader.png' />
                </div>
            </header>
            <main role="main" class="container">
                <div class="form-signin">
                    <div class="text-center mb-4">
                        <h1 class="h3 mb-3 font-weight-normal"> Configuration </h1>
                        <p> Provide your credentials to connect to your store </p>
                    </div>
                        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="username" required="">
                        <label for="inputPassword">Username</label>

                        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                        <label for="inputPassword">Password</label>

                    <button class="btn btn-lg btn-primary btn-block" onclick='submitPassword()'>Sign in</button>
                </div>
            </main>
          
        </div>



        <script type="text/javascript">
            function submitPassword() {
                const username = document.getElementById('inputUsername').value;
                const password = document.getElementById('inputPassword').value;
                // Create AJAX request to our backend
                const Http = new XMLHttpRequest();
                const url= '/getAccounts';
                Http.open('POST', url, true);
                Http.setRequestHeader("Content-Type", "application/json");
                Http.onreadystatechange = function(){
                    if (this.readyState === 4 && this.status === 200) {
                        const res = JSON.parse(this.responseText);
                        if (res && res.success) {
                            // Save account data in localStorage and redirect
                            localStorage.setItem('accounts', res.accounts);
                            window.location.href = '/accounts.html';

                        } else {
                            alert(`Error setting password: ${res.error}`);
                        }
                    }
                };

                Http.send(JSON.stringify({
                    username,
                    password
                }));
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>

