<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <!-- Custom styles for this template -->
        <link href="/styles/floating-labels.css" rel="stylesheet">
    </head>
    <body>
        <form class="form-signin" id="loginForm">
            <div class="text-center mb-4">
                <img class="mb-4" src="/images/fastspring.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal"> Account Portal </h1>
                <p> Please provide your API credentials </p>
            </div>

            <div class="form-label-group">
                <input type="text" id="inputUsername" class="form-control" placeholder="username" required autofocus>
                <label for="inputEmail">Username</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
            </div>
            <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Buyer's email" required>
                <label for="inputEmail">Buyer's email</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; FastSpring</p>
        </form>
        <script type="text/javascript">

            function submitPassword() {
                const username = document.getElementById('inputUsername').value;
                const password = document.getElementById('inputPassword').value;
                const email = document.getElementById('inputEmail').value;
                const payload = { username, password , email };
                $.post(`${window.location.origin}/login`, payload)
                    .done((resLogin) => {
                        if (resLogin && JSON.parse(resLogin).success) {
                            const { accountId, token } = JSON.parse(resLogin);
                            // Store private token in local storage
                            localStorage.setItem('FS-token', JSON.stringify(token));
                            // Redirect user to account page
                            window.location.href = `/account/${accountId}/orders.html`;
                        } // else TODO
                    })
                    .fail(() => {
                        alert('Errr');
                    });
            }

            document.addEventListener('DOMContentLoaded', function() {
                $('#loginForm').submit(function (e) {
                    e.preventDefault();
                    submitPassword();
                    return false;
                });
            });
            
        </script>
        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>
