<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href='/styles/custom.css'>
        <script type="text/javascript" src="/js/FSApi.js"> </script>
        </head>

    <body>
        <div class="container-color d-flex w-100 h-100 mx-auto flex-column">
            <main role="main" class="container">
                <div id="loading-spinner" class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="orders-group">
                    <!-- Subscriptions to be programatically added here -->
                </div>
            </main>
        </div>

        <script type="text/javascript">

            function renderOrderItems(item) {
                return (`
                    <tr>
                        <td> ${item.product} </td>
                        <td> ${item.display} </td>
                        <td> ${item.quantity} </td>
                        <td> ${item.subtotalDisplay} </td>
                    </tr>
                `);
            }

            function renderOrder(order) {
                const orderItems = order.items.map(renderOrderItems);
                return (`
                        <div class='container'>
                            <div class='row' style="border-bottom: 1px solid; text-align: center; padding: 5px; background-color: #17a2b8!important; font-weight: bold;">
                                <div class='col-4'>
                                     <span> Order Id: ${order.id} <span>
                                </div>
                                <div class='col-4'>
                                     <span> Reference Id: ${order.reference} <span>
                                </div>
                                <div class='col-4'>
                                     <span> Order Completed: ${order.completed} <span>
                                </div>
                            </div>
                            <div class='row' style="padding-top: 20px;">
                                <div class='col-6'>
                                    <div class='row'>
                                        <div class='col-6 textCentered'>
                                            Price
                                        </div>
                                        <div class='col-6'>
                                            ${order.totalDisplay}
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-6 textCentered'>
                                            Tax
                                        </div>
                                        <div class='col-6'>
                                            ${order.taxDisplay}
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-6 textCentered'>
                                            Discount
                                        </div>
                                        <div class='col-6'>
                                            ${order.discountDisplay}
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-6 textCentered' style="padding-right: 0">
                                            <span style="border-top: 1px solid blue; padding: 1px 15px;"> Subtotal </span>
                                        </div>
                                        <div class='col-6'  style="padding-left: 0">
                                            <span style="border-top: 1px solid blue; padding: 1px 15px;"> ${order.subtotalDisplay} </span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-3'>
                                    <div class='row'>
                                        Payment type: ${order.payment.type}
                                    </div>
                                    <div class='row'>
                                        Card Ending: ${order.payment.cardEnding}
                                    </div>
                                </div>
                                <div class='col-3'>
                                    <a href="${order.invoiceUrl}" target="_blank"> Invoice </a>
                                </div>
                            </div>
                            <div>
                            <br>
                            <br>
                                <table class="table no-header">
                                    <thead>
                                        <tr>
                                            <th> Item Id </th>
                                            <th> Item Display </th>
                                            <th> Item Quantity </th>
                                            <th> Item Total </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        ${orderItems.join('')}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                `);
            }

            document.addEventListener('DOMContentLoaded', function() {
                // Show accounts data from localstorage
                const accounts = JSON.parse(localStorage.getItem('accounts'));
                const url = new URL (window.location.href); 
                const accountId = url.pathname.split("/")[2];
                if (accounts && accounts.length > 0) {
                    const account = accounts.find(account => account.id === accountId);
                    if (account) {
                        if (account.orders.length > 0) {
                            $.post(`${window.location.origin}/getCustomerOrders`, { orderIds: account.orders })
                                .done((data) => {   
                                    const jsonData = JSON.parse(data);
                                    const orderElement = jsonData.orders.map((order) => {
                                        const orderDetails = renderOrder(order);
                                        return (`
                                            <div id='order-${order.id}' class='card row order-main-container'>
                                                ${orderDetails}
                                            </div>
                                        `);
                                    });
                                    $('#orders-group').append(orderElement);
                                })
                                .fail(() => {
                                    alert('Errr');
                                });
                        } else {
                            alert('No subscriptions in this account');
                        }
                    }
                } else {
                    alert('No account found');
                }
               $('#loading-spinner').hide(); 
            });
        </script>
        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>



