<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href='/styles/custom.css'>
        <script type="text/javascript" src="/js/FSApi.js"> </script>
    </head>

    <body>
        <div class="container-color d-flex w-100 h-100 mx-auto flex-column">
            <main role="main" class="container">
                <div id="loading-spinner" class="spinner-border pageLoader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div id='account-container' class='card container'>
                    <!-- Content will be populated here -->
                </div>
            </main>
          
        </div>

        <script type="text/javascript">
        
            function renderAccountDetails(account) {
                return (`
                    <div class='row accountDetails'>
                        <div class="col">
                            <p> ${account.contact.first}  ${account.contact.last}</p>
                            <p class='fs-link'> ${account.contact.email} </p>
                            <p> Phone: &nbsp;${account.contact.phone || 'Not available'} </p>
                            <div id='authenticated-container'>
                                <button class="btn btn-primary" type="button" id='auth-button' onclick='getAuthenticatedURL(this);'>
                                    Get authenticated URL
                                </button>
                            </div>
                        </div>
                    </div>
                `);
            }

            function renderOrdersTable(orders) {
                const orderRows = orders.map((order) => `
                    <tr class='order-row' onclick="goToOrder('${order.id}');">
                        <td> ${order.changedDisplay}</td>
                        <td> ${order.id} </td>
                        <td> ${order.reference} </td>
                        <td> ${order.subtotalDisplay} </td>
                        <td> ${(order.completed ? 'Completed' : 'Canceled')}
                        </td>
                    </tr>
                `);
                return (`
                    <table class="table table-hover">
                        <thead>
                            <tr class="bg-info">
                                <th scope="col"> Date </th>
                                <th scope="col"> Order Id </th>
                                <th scope="col"> Reference </th>
                                <th scope="col"> Subtotal </th>
                                <th scope="col"> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            ${orderRows.join('')}
                        </tbody>
                `);
            }

            document.addEventListener('DOMContentLoaded', function() {
                $('#loading-spinner').show();
                // Get accountId from url
                const url = new URL(window.location.href); 
                const accountId = url.pathname.split("/")[2];
                if (accountId) {
                    $.post(`${window.location.origin}/getAccountDetails`, { accountId })
                        .done((resAccount) => {
                            if (resAccount && JSON.parse(resAccount).success) {
                                const parsedData = JSON.parse(resAccount);
                                const accountElement = renderAccountDetails(parsedData.account);
                                const ordersTable = renderOrdersTable(parsedData.orders);
                                $('#loading-spinner').hide();
                                $('#account-container').append([accountElement, ordersTable]);
                            } // else TODO
                        })
                        .fail(() => {
                            alert('Errr');
                        });
                } else {
                    alert('No account found'); // TODO redirect to login
                }
            });
        </script>
        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>



