<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href='/styles/custom.css'>
        <script type="text/javascript" src="/js/FSApi.js"> </script>
        </head>

    <body>
        <div class="container-color d-flex w-100 h-100 mx-auto flex-column">
            <main role="main" class="container">
                <div id="loading-spinner" class="spinner-border pageLoader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div id="orders-group">
                    <!-- Subscriptions to be programatically added here -->
                </div>
            </main>
        </div>

        <script type="text/javascript">

            function renderCustomTags(order) {
                let tags = 'No tags';
                if (order.tags && Object.keys(order.tags).length > 0) {
                    tags = Object.keys(order.tags).map((key) => (
                        `<span> ${key} : ${order.tags[key]} </span>`
                    )).join('');
                }

                return (`
                    <div class='row'>
                        <h5> Tags </h5>
                    </div>
                    <div class='row'>
                        <div class="col-5">
                            <form id='customTagsForm'>
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="tagKey" id="tagKey">
                                    <label for="tagKey">Tag</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="text" class="form-control" name="tagValue" id="tagValue">
                                    <label for="tagValue">Value</label>
                                </div>
                            </form>
                            <button class="btn btn-outline-info btn-sm" style="margin-bottom: 3px;" onclick="createOrderTags('${order.id}')"> Add </button>
                        </div>
                        <div class="col-7">
                            ${tags}
                        </div>
                    </div>
                `);
            }

            function renderProductFulfillments(item) {
                let fulfillmentsItems = [];
                if (item.fulfillments && Object.keys(item.fulfillments).length > 0) {
                    // TODO fulfillments
                    fulfillmentsItems = Object.keys(item.fulfillments).map((key) => {
                        const fulfilment = item.fulfillments[key][0];
                        return(`
                            <div>
                            ${fulfilment !== 'instructions' ?
                                `
                                ${fulfilment.type === 'license' ?
                                    `
                                    <div class='license'>
                                        <span> ${fulfilment.display} </span>
                                        <span> ${fulfilment.license} </span>
                                    </div>
                                    `
                                    :
                                    `
                                    <div class='file'>
                                        <span> ${fulfilment.display} </span>
                                        <span> ${fulfilment.size} </span>
                                        <span> <a href="${fulfilment.file}" target="_blank"> Download link </a> </span>
                                    </div>
                                    `
                                }
                                `
                                :
                                `
                                    <div class='instructions'>
                                        ${fulfilment}
                                    </div>
                                `
                            }
                            </div>
                        `);
                    });
                }
                return (`
                    <div class='fulfillments'>
                        <h5> Fulfillments: </h5>
                        ${fulfillmentsItems.length > 0 ?
                            fulfillmentsItems.join('') :
                            `
                                There are no fulfillments associated to this product
                            `
                        }
                    </div>
                `);
            }

            function renderProductAttributes(item) {
                let attributes = '';
                if (item.attributes && Object.keys(item.attributes).length > 0) {
                    attributesItems = Object.keys(item.attributes).map((key) => (
                        `<span> ${key} : ${item.attributes[key]} </span>`
                    ));
                    attributes = (`
                        <div class='attributes'>
                            ${attributesItems.join('')}
                        </div>
                    `);
                }
                const productPath = item.product;
                return (`
                    <form id='productAttrForm-${productPath}'>
                        <div class="form-label-group">
                            <input type="text" class="form-control" name="attrKey" id="attrKey-${productPath}">
                            <label for="attrKey"> Key </label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" class="form-control" name="attrValue" id="attrValue-${productPath}">
                            <label for="attrValue"> Value </label>
                        </div>
                    </form>
                    <button class="btn btn-outline-info btn-sm" style="margin-bottom: 3px;" onclick="createProductAttributes('${productPath}')"> Add </button>
                    <div>
                        ${attributes}
                    </div>
                `);
            }

            function renderOrderItems(item) {
                // Render product attributes
                const attributes = renderProductAttributes(item);
                // Render product fulfillments
                const fulfillments = renderProductFulfillments(item);
                console.log(fulfillments);
                return (`
                    <div class='card itemContainer'>
                        <div class='row'>
                        <div class='col-4'>
                            <p> Product Id: ${item.product} </p>
                            <p> Product display: ${item.display} </p>
                            <p> Quantity: ${item.quantity} </p>
                            <p> Total: ${item.subtotalDisplay} </p>
                            ${item.subscription ? `
                                    
                                    Subscription: <a class='fs-link' onclick="goToSubscription('${item.subscription}')"> ${item.subscription} </a>
                            `: ''
                            }
                        </div>
                        <div class='col-3'>
                            ${attributes || ''}
                        </div>
                        <div class='col-4'>
                            ${fulfillments || ''}
                        </div>
                        </div>
                    </div>
                `);
            }
      
            function renderOrder(order) {
                // Render Order Custom tags
                const customTags = renderCustomTags(order);
                // Render order items
                const orderItems = order.items.map(renderOrderItems);
                
                // Check if order has been returned
                let returns = '';
                if (order.returns && order.returns.length > 0) {
                    returns = order.returns.map((ret) => (`
                        <div class='return'>
                            <p> Return: </p>
                            <span> ${ret.amount} </span>
                            <span> ${ret.return} </span>
                        </div>
                    `)).join('');
                }
                return (`
                        <div class='container'>
                            <div class='row' style="border-bottom: 1px solid; text-align: center; padding: 5px; background-color: #17a2b8!important; font-weight: bold;">
                                <div class='col-4'>
                                     <span> Order Id: ${order.id} <span>
                                </div>
                                <div class='col-4'>
                                     <span> Reference Id: ${order.reference} <span>
                                </div>
                                <div class='col-4'>
                                     <span> Order Completed: ${order.completed} <span>
                                </div>
                            </div>
                            <div class='row' style="padding-top: 20px;">
                                <div class='col-4'>
                                    <div class='row'>
                                        <div class='col-6 textCentered'>
                                            Price
                                        </div>
                                        <div class='col-6'>
                                            ${order.totalDisplay}
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-6 textCentered'>
                                            Tax
                                        </div>
                                        <div class='col-6'>
                                            ${order.taxDisplay}
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-6 textCentered'>
                                            Discount
                                        </div>
                                        <div class='col-6'>
                                            ${order.discountDisplay}
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-6 textCentered' style="padding-right: 0">
                                            <span style="border-top: 1px solid blue; padding: 1px 15px;"> Subtotal </span>
                                        </div>
                                        <div class='col-6'  style="padding-left: 0">
                                            <span style="border-top: 1px solid blue; padding: 1px 15px;"> ${order.subtotalDisplay} </span>
                                        </div>
                                    </div>
                                    ${returns}
                                </div>
                                <div class='col-3'>
                                    <div class='row'>
                                        Payment type: ${order.payment.type}
                                    </div>
                                    <div class='row'>
                                        Card Ending: ${order.payment.cardEnding}
                                    </div>
                                    <div class='row'>
                                        <a href="${order.invoiceUrl}" target="_blank"> Invoice </a>
                                    </div>
                                </div>
                                <div class='col-5'>
                                    ${customTags || ''}
                                </div>
                            </div>
                            <div>
                            <br>
                            <br>
                            <div class='orderItems'>
                             ${orderItems.join('')}
                            </div>
                        </div>
                `);
            }

            document.addEventListener('DOMContentLoaded', function() {
                // Get accountId from url
                const url = new URL (window.location.href); 
                const orderId = url.pathname.split("/")[4];
                if (orderId) {
                    $.post(`${window.location.origin}/getCustomerOrders`, { orderIds: [orderId] })
                        .done((data) => {   
                            const jsonData = JSON.parse(data);
                            const orderElement = jsonData.orders.map((order) => {
                                const orderDetails = renderOrder(order);
                                return (`
                                    <div id='order-${order.id}' class='card row order-main-container'>
                                        ${orderDetails}
                                    </div>
                                `);
                            });
                            $('#orders-group').append(orderElement);
                            $('#loading-spinner').hide();
                        })
                        .fail(() => {
                            alert('Errr');
                            $('#loading-spinner').hide();
                        });
                } else {
                    alert('No account found');
                    $('#loading-spinner').hide();
                }
            });
        </script>
        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>




